<h1>Existing User Log In</h1>

<%= form_tag('/session') do %>
  
  <%= label_tag :email, "Email:" %>
  <%= text_field_tag :email %>
  <br></br>

  <%= label_tag :password, "Password:" %>
  <%= text_field_tag :password %>
  <br></br>

  <%= submit_tag "Log In" %>
<% end %>

<% if flash.now %>
  <h4><%= flash.now[:error] %></h4>
<% end %>