<h1>Existing User Log In</h1>

<%= form_tag('/session') do %>
  
  <strong><%= label_tag :email, "Email:" %></strong>
  <%= text_field_tag :email %>
  <br></br>

  <strong><%= label_tag :password, "Password:" %></strong>
  <%= text_field_tag :password %>
  <br></br>

  <%= submit_tag "Log In" %>
<% end %>