<h1>New User</h1>

<%= form_for @user do |f| %>

  <strong><%= f.label :name, "Full Name:" %></strong>
  <%= f.text_field :name %>
  <br></br>

  <strong><%= f.label :email, "Email:" %></strong>
  <%= f.text_field :email %>
  <br></br>

  <strong><%= f.label :password, "Password:" %></strong>
  <%= f.password_field :password %>
  <br></br>

  <strong><%= f.label :admin, "Check box if you are an administrator:" %></strong>
  <%= f.check_box :admin %>
  <br></br>

  <%= f.submit %>
<% end %>

<% if flash.now %>
  <h4><%= flash.now[:error] %></h4>
<% end %>