<h1>New User</h1>

<%= form_for @user do |f| %>

  <div class="form-group">
    <strong><%= f.label :name, "Full Name:" %></strong>
    <%= f.text_field :name %>
    <br></br>
  </div>

  <div class="form-group">
    <strong><%= f.label :email, "Email:" %></strong>
    <%= f.text_field :email %>
    <br></br>
  </div>

  <div class="form-group">
    <strong><%= f.label :password, "Password:" %></strong>
    <%= f.password_field :password %>
    <br></br>
  </div>

  <div class="checkbox">
    <strong><%= f.label :admin, "Check box if you are an administrator:" %></strong>
    <%= f.check_box :admin %>
    <br></br>
  </div>

  <%= f.submit %>
<% end %>

<% if flash.now %>
  <h4><%= flash.now[:error] %></h4>
<% end %>