<h1>Register Your Vehicle</h1>

  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@car.errors.count, "error") %>
      prohibited this car from being saved: </h2>

      <ul>
        <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_tag('/cars', method: "post") do %>
    
    <%= render 'form' %>

      <%= fields_for :parking_space_attributes do |ps| %>

        <%= ps.label :space_number, "Parking Space Number:" %>
        <%= ps.select :space_number, options_for_select((100..125).step(1).to_a.map{|space| ["#{space}", space]}), include_blank: true %>

      <% end %>
      
    <br></br>

  <%= submit_tag "Create Car" %>
<% end %>