<!DOCTYPE html>
<html>
  <head>
    <title>Rails Final Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>

      body {
        background-color: lightyellow;
      }

      .field_with_errors input[type="text"] {
        padding: 3px 2px;
        border: 2px solid red;
      }

    </style>
  </head>

  <body>
    <ul>
      <a class="navbar-brand" href="<%= root_url %>"/>Home</a>

        <% if !logged_in? %>
          <%= link_to "Sign Up", new_user_path %>
          <%= link_to "Log In", session_path %>
          <%= link_to('Log in with Google!', '/auth/google_oauth2') %>
        <% end %>

        <% if logged_in? %>
          <%= link_to "#{current_user.name}'s Profile", user_path(current_user), class:"navbar-brand" %>
          <%= link_to "Cars", cars_path, class:"navbar-brand" %>
          <%= link_to "Log Out", session_path, class:"navbar-brand", method:'delete' %>
          
        <% end %>
      </ul>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- content -->
    <div class="container"  role="main">
      <%= yield %>
    </div>
  </body>
</html>
